@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: darkred;
    color: azure;
    padding-top: 100px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items:center;
    margin-bottom: 40px;
}

header img {
    height: 60px;
    margin-right: 16px;

}

header h1 {
    font-size: 60px;
    font-weight: bold;
    padding: 10px;
    border-radius: 8px;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 24px;
    background-color: beige;
    border: none;
    padding: 8px;
    border-radius: 5px;
    margin-left: 33px;
    outline: none;
}

form input:hover {
    box-shadow: 2px 2px 28px rgba(0, 0, 0, 0.777);
}

form button {
    background-color: black;
    color: azure;
    font-size: 24px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    margin-left: 33px;
}

form button:hover {
    background-color: gold;
    color: black;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid azure;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
}

table td {
    text-align: center;
    font-size: 18px;
    padding: 16px 0;
    border-bottom: 1px solid rgba(240, 255, 255, 0.333);
}